<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="3" name="Suite" parallel="tests">
	<test name="Test1">
  <parameter name="Browser" value="CH" />
  <classes>
  <class name="testNgDemo.TestScript2" />
  </classes>
  </test> <!-- Test -->
  <test name="Test2">
  <parameter name="Browser" value="IE" />
  <classes>
  <class name="testNgDemo.TestScript2" />
  </classes>
  </test>
  <test name="Test3">
  <parameter name="Browser" value="FF"/>
  <classes>
  <class name="testNgDemo.TestScript2" />
  </classes>
  </test>
</suite> <!-- Suite -->
